body {
  font-family: 'Oswald', sans-serif;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url('../images/uk.svg');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='../images/uk.svg',
  sizingMethod='scale');
  & > img:last-of-type {
     height: 50%;
     position:  absolute;
     left: 30px;
     bottom:0;
     top:5%;
     margin: auto 0;
     transform: rotate(-8deg);
  }
  & > img:first-of-type {
     position:  absolute;
     right: 0;
     left: 0;
     margin: 0 auto;
     top:0;
     transform: none;
     width: 60%;
  }
  & > img {
     position:  absolute;
     width: 10%;
     right: 5%;
     bottom: 0;
     margin-bottom: 5%;
     transform: rotate(13deg);
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  height: 97vh;
  width: 94vw;
  min-width: 300px;
  .mainWindow {
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: #87e0fd;
    margin-top:30px;
    z-index: 3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
    /* IE6-9 */
   @media only screen and (max-width: 650px) {
     width: 100%;
     height: 100%;
     margin: 0 0;
   }
  }
}

.start {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:5;
  .startBox {
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.startBox {
  h3 {
    margin: 5px 0;
  }
  form select {
    width: 200px;
    height: 35px;
    border: 1px solid #05ABE0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    margin: 15px 0;
  }
}
#fileInput {
  display: none;
}
#start {
  width: 130px;
  height: 60px;
  line-height: 60px;
  background: #05ABE0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
  border-radius: 10px;
  color: white;
}
.playerInfo {
  width: 100%;
  height: auto;
  background-color: yellow;
  color: brown;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  border: 2px solid brown;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: -20px;
  .userBox {
    align-self: flex-start;
  }
  table {
    border-left: 2px solid brown;
    border-right: 2px solid brown;
    min-width: 120px;
    border-collapse: collapse;
    box-sizing: border-box;
  }
  table thead th {
    text-align: center;
  }
  table th {
    text-align: left;
  }
}
.countBoxes {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  text-align: center;
  min-height: 146px;
  %countBox {
    width: 220px;
    min-width: 80px;
    height: 160px;
    background-color: yellow;
    background: url('../images/hat.svg');
    background-repeat: no-repeat;
    background-position: 0 35px;
    bacgkround-size: contain;
    color: white;
    box-sizing: border-box;
    position: relative;
    font-size: 1.4em;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    @media only screen and (max-width: 650px) {
        width:105px;
        height: 115px;
        background-position: 0 25px;
        font-size: 1.1em;
    }
    & > span.countChange {
      font-size: 3em;
      color: #ff8700;
      position: absolute;
      top: -60px;
      left: -10px;
      right: 0;
      opacity: 1;
      @media only screen and (max-width: 650px) {
        font-size: 1.5em;
        top: -30px;   
      }
    }
    span.no {
      font-size: 1.7em;
      color: white;
      display: block;
      min-width: 23px;
      min-height: 23px;
      border-radius: 5px;
      margin: 0 auto;
      margin-top: 22px;
      @media only screen and (max-width: 650px) {
        margin-top: 7px;
      }
    }
  }
  .known {
    @extend %countBox;
    margin-right: 120px;
    @media only screen and (max-width: 650px) {
        margin-right: 5px;
    }
  } 
  .learn {
    @extend %countBox;
    margin-left: 120px;
    @media only screen and (max-width: 650px) {
        margin-left: 5px;
    }
  }
}
.wordInput {
  width:100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 650px) {
    flex-direction: column;
  }
}
#output {
  display: inline-block;
  width: 250px;
  height: auto;
  color: white;
  font-size: 1.8em;
  background: #ff0505;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff0505 0%, #ff0905 44%, #6d0019 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff0505 0%, #ff0905 44%, #6d0019 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff0505 0%, #ff0905 44%, #6d0019 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0505', endColorstr='#6d0019',GradientType=0 );
  /* IE6-9 */
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  margin-right: 50px;
  @media only screen and (max-width: 650px) {
    width: 180px;
    font-size: 1.3em;
    margin: 0 0;
    line-height: 60px;
  }
}

#wInput {
  &:hover {
    -webkit-box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 1);
  }
  display: inline-block;
  width: 250px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  background: #1905ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1905ff 0%, #1403c6 48%, #160072 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1905ff 0%, #1403c6 48%, #160072 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1905ff 0%, #1403c6 48%, #160072 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1905ff', endColorstr='#160072',GradientType=0 );
  /* IE6-9 */
  border: none;
  border-radius: 7px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  text-transform: uppercase;
  line-height: 100px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.75);
  @media only screen and (max-width: 650px) {
    width: 180px;
    font-size: 1.3em;
    margin: 10px 0;
    line-height: 60px;
  }
}

.checkButton {
  display: block;
  width: 130px;
  height: auto;
  text-transform: uppercase;
  line-height: 60px;
  background: #ff05f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff05f6 0%, #a0039e 48%, #690075 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff05f6 0%, #a0039e 48%, #690075 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff05f6 0%, #a0039e 48%, #690075 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff05f6', endColorstr='#690075',GradientType=0 );
  /* IE6-9 */
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 1em;
  @media only screen and (max-width: 650px) {
    width: 140px;
    font-size: 1.1em;
    margin: 10px auto;
    line-height: 40px;
  }
}

#display {
  min-height: 122px;
  font-size: 2.5rem;
  text-align: center;
  color: #d78409;
  width: 60%;
  position: relative;
  left:0;
  right:0;
  top: 60px;
  h1 {
    margin: 10px;
  }
  span {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 2.5rem;
    @media only screen and (max-width: 650px) {
      font-size: 1.5rem;
      left:-5px;
    }
  }
  div {
    width: 90%;
    min-height: 122px;
    background-color: yellow;
    border: 2px solid brown;
    border-radius: 10px;
    color: brown;
    padding: 0px 5px;
    font-size: 1.1rem;
    margin: 0 auto;
    display: inline-block;
    h3 {
      text-align: center;
      margin: 3px 0;
    }
    @media only screen and (max-width: 650px) {
      font-size: 0.95rem;
      line-height: 1.5;
    }
  }
  @media only screen and (max-width: 650px) {
    font-size: 1rem;
    margin: 10px auto;
    line-height: 40px;
  }
}
